/.gitignore
.gitignore
/backups
/cache
/logs
/config
/upload
*.map
*.scssc
.htaccess*
install/db.txt
config/db.php
config/crypt.php
config/password.php
install/ajax.php
install/background.jpg
install/DATABASE.sql
install/htaccess.txt
install/htaccess_check.txt
install/index.php
install/install.css
install/install.js
install/langs/en.php
install/logo.png
